{% extends 'home.html' %}

{% block content %}
<style>
    .email-header{
            font-size: 30px;
            color: #34add6;
            border: 1px solid #eddbdb;
            width: 19rem;
            padding: 15px 15px 13px 27px;
            box-shadow: 2px 2px 14px;
        }

    .subject-thread {
            color: #1a509e;
            width: 67%;
            font-weight: 550;
            margin-bottom: 10px;
            font-size: 22px;
            margin-left: 2rem;
        }

    .email-thread {
            border: 1px solid #d7d1d1;
            box-sizing: content-box;
            margin-top: 30px;
            background-color: #fafafa;
            box-shadow: -3px 4px 8px #e1dada;
        }
    .email-text {
        margin-left: 21px;
    }

</style>
<div style="width:1020px !important">
    <center>
        <div class="col-md-6" style="width:100%;">
            <h1 class="email-header mt-4">Email Thread Data</h1>
        </div>
    </center>
        <div class="subject-thread">
            {% if email_thread_data %}
            SUBJECT : " {{ email_thread_data[0].subject }} "
            {% else %}
            No Email Threads Found
            {% endif %}
        </div>

    <div style="width:1020px !important">
        {% for thread in email_thread_data %}
        <center>
            <div class="email-thread" style="width:1000px !important ;">
                <div class="email-text text-start"><b>To : </b>{{ thread.recipients }}</div>
                    <br>
                {% if thread.cc %}
                <div class="email-text text-start"><b>Cc : </b>{{ thread.cc | join(", ") }}</div>
                {% endif %}
                <br>
                <div class="email-text text-start"><b>Date : </b>{{ thread.timestamp }}     Time: {{thread.time}}</div>
                <br>
                <div class="email-text text-start"> <b> Body :</b>
                    {{thread.text}}
                </div>
                {% if thread.table %}
                <div class="email-table text-start">
                    <div style="margin-left: 21px;">
                        <br><b>  Table : </b><br>
                    </div>
                    <table class="table table-striped text-center table-overFlow" id="myTable" style="width: 97%;margin-left: 1.5%;">
                        <thead>
                        <tr>
                            <th><b>ID</b></th>
                            <th><b>emp_id</b></th>
                            <th><b>associate_name</b></th>
                            <th><b>department</b></th>
                            <th><b>reporting_manager</b></th>
                            <th><b>digital_lead</b></th>
                            <th><b>tech_stack</b></th>
                            <th><b>experience</b></th>
                            <th><b>competency</b></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for emp in thread.table %}
                        <tr>
                            <td>{{emp.ID}}</td>
                            <td>{{emp.emp_id}}</td>
                            <td>{{emp.associate_name}}</td>
                            <td>{{emp.department}}</td>
                            <td>{{emp.reporting_manager}}</td>
                            <td>{{emp.digital_lead}}</td>
                            <td>{{emp.tech_stack}}</td>
                            <td>{{emp.experience}}</td>
                            <td>{{emp.competency}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                {% if thread.has_attachments %}
                <div class="attachments text-start" style="margin-left:21px;">
                    <br>
                    <b>Attachments :</b>
                    <ul>
                        {% for attachment in thread.attachments %}
                        <li><a href="#">{{ attachment.filename }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <br>
                <div class="img text-end mb-2">
                    <img src="https://www.drupal.org/files/MOURI%20Tech.png" alt="Company Logo" width="200px" class="company-logo">
                </div>
            </div>
        </center>
        {% endfor %}
        <div class="reply-link text-end" style="margin-top: 30px;">
            {% if email_thread_data %}
            <a href="/reply?subject={{ email_thread_data[0].subject }}" class="btn btn-danger float-right" style="width: 18%">Reply</a>
            {% endif %}
        </div>
    </div>
</div>


<!--        {% for thread in email_thread_data %}-->
<!--    <div class="email-thread" style="width:1000px !important ; text-align:start">-->
<!--            <div><b>To: </b>{{ thread.recipients }}</div>-->
<!--            <br>-->
<!--            {% if thread.cc %}-->
<!--            <div><b>Cc: </b>{{ thread.cc | join(", ") }}</div>-->
<!--            {% endif %}-->
<!--            <br>-->
<!--            <div><b>Date: </b>{{ thread.timestamp }}     Time: {{thread.time}}</div>-->
<!--            <br>-->
<!--        <div class="email-text" > <b> Body </b> :-->
<!--            {{thread.text}}-->
<!--        </div>-->
<!--        {% if thread.table %}-->
<!--            <div class="email-table"><br><b>  Table : </b>-->
<!--                <br><br>-->
<!--                <table-->
<!--                        class="table table-striped text-center table-overFlow"-->
<!--                        id="myTable">-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th><b>ID</b></th>-->
<!--                    <th><b>emp_id</b></th>-->
<!--                    <th><b>associate_name</b></th>-->
<!--                    <th><b>department</b></th>-->
<!--                    <th><b>reporting_manager</b></th>-->
<!--                    <th><b>digital_lead</b></th>-->
<!--                    <th><b>tech_stack</b></th>-->
<!--                    <th><b>experience</b></th>-->
<!--                    <th><b>competency</b></th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            {% for emp in thread.table %}-->
<!--            <tr>-->
<!--                <td>{{emp.ID}}</td>-->
<!--                <td>{{emp.emp_id}}</td>-->
<!--                <td>{{emp.associate_name}}</td>-->
<!--                <td>{{emp.department}}</td>-->
<!--                <td>{{emp.reporting_manager}}</td>-->
<!--                <td>{{emp.digital_lead}}</td>-->
<!--                <td>{{emp.tech_stack}}</td>-->
<!--                <td>{{emp.experience}}</td>-->
<!--                <td>{{emp.competency}}</td>-->
<!--            </tr>-->
<!--            {% endfor %}-->
<!--            </tbody>-->
<!--        </table>-->
<!--    {% endif %}-->
<!--    {% if thread.has_attachments %}-->
<!--    <div class="attachments">-->
<!--        <br>-->
<!--        Attachments:-->
<!--        <ul>-->
<!--            {% for attachment in thread.attachments %}-->
<!--            <li><a href="#">{{ attachment.filename }}</a></li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    </div>-->
<!--    {% endif %}-->
<!--    <img src="https://www.drupal.org/files/MOURI%20Tech.png" alt="Company Logo" width="200px" class="company-logo">-->
<!--        </div>-->
<!--    </div>-->

<!--        {% endfor %}-->

<!--    <div class="reply-link">-->
<!--        {% if email_thread_data %}-->
<!--        <a href="/reply?subject={{ email_thread_data[0].subject }}">Reply to Thread</a>-->
<!--        {% else %}-->
<!--        <p>No email threads found.</p>-->
<!--        {% endif %}-->
<!--    </div>-->
<style>
    .company-logo {
        max-width: 100%; /* Limit the logo width to fit within its parent container */
    }
</style>

{% endblock %}